## To be added






######### for testing
pytest>=7.0.0
pytest-flask>=1.2.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0


######## tested on mac for
python==3.12
pip install numpy
pip install flask
pip install opencv-python
pip install scikit-learn
pip install matplotlib
pip install hyperspy